<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.slug %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Destroy', remove_admin_category_path(category), method: :put, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render partial: 'admin/partials/new_resource', locals: {ns: 'admin', resource: 'category'} %>
